@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

body{
  height: 100%;
  background: rgb(240, 240, 234, 0);
  font-family: "Geologica", sans-serif;
  font-style: normal;
  font-weight: 200;
  color: rgb(50, 50, 50);
}

.bold-title{
  font-family: 'Source Sans Pro', sans-serif;  
}

.link{
  display: inline;
  font-size: 3vw; 
  margin-top: 0;  
  margin-bottom: 0;
  bottom: 0px;
  color: rgb(50, 50, 50);
}

.linkDiv{
  display: inline-block;
  width: fit-content;
  margin-right: .5vw;
  height: auto;
}

.linkIn{
  position: absolute;
  display: inline-block;
  height: 4vw;
  width: calc(var(--i) * 1vw);
  z-index: -1;
  transition-duration: 1s;
  background-color: var(--colourIn);
}

.linkOut{
  position: absolute;
  display: inline-block;
  height: 4vw;
  width: 0vw;
  z-index: -1;
  transition-duration: 1s;
  background-color: var(--colourOut)
}

